@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');

:root {
  --main: #00A6A0;
  --secondary: #1F6BAE;
  --highlight: #F57A75;
}

body, html, input, button {
  font-family: 'Ubuntu', sans-serif;
}

body {
  text-align: center;
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  min-height: 100vh;
}

button {
  border-radius: 4px;
  border: none;
  /* box-shadow: 2px 2px 6px rgba(0,0,0,0.1); */
  padding: 2px 6px;
  text-transform: none !important;
}
  
button:hover {
  filter: brightness(90%);
  /* box-shadow: 4px 4px 8px rgba(0,0,0,0.3); */
}

.title {
  letter-spacing: 2px;
  font-size: 42px;
  margin: 20px auto 6px auto;
  color: var(--secondary);
}

.subtitle {
  font-size: 16px;
  margin: 12px auto 24px auto;
}

.rectangleButton {
  display: block;
  padding: 0px 25px 0px 25px;
  height: 80%;
  align-self: center;
  margin: 5px 20px 5px 15px;
  font-size: 24px;
  letter-spacing: 1px;
  background-color: rgb(225, 225, 225);
  color: black;
  font-style: normal;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
  cursor: default;
}

.rectangleButton:hover {
  filter: brightness(90%);
  box-shadow: 4px 4px 8px rgba(0,0,0,0.3);
}

.smallerButton {
  width: 20%;
  min-width: 240px;
  margin: 10px auto 50px auto;
  padding: 10px;
}

.verticalContainer {
  display: flex;
  flex-direction: column;
}

.verticalContainer button {
  margin: 2px;
}

.horizontalContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content {
  padding-bottom: 250px;
}

input {
  box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
  border-radius: 4px;
}