.header-footer {
  background-color: lightgrey;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 65px;
  align-self: center;
}

#login {
  display: flex;
  flex-direction: row;
}

.loginUserInput {
  display: flex;
  flex-direction: column;
  align-self: center;
}

#username {
  margin-bottom: 3px;
}

input {
  padding: 5px 3px;
  margin: 2px;
  border: none;
}