

#guestListFileUpload {
	display: none;
}

#inputTestTag {
	font-size: 18px;
	/* color: red;
	background-color: green; */
	display: block;
	width: 100%;
	border: none;
	text-transform: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/* opacity: 0.1; */
	opacity: 0;
	margin: 0;
	padding: 0;
	/* z-index: 9; */
}

#dragDropContainer{
	/* max-width: 40%;
	max-height: 40%;
	background-color: red; */


	position: relative;
	margin: 0 0 15px;
	border: 2px dotted lightgray;
	padding: 35px 20px;
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: transparent;
	min-width: 400px;
	width: 800px;
	height: 200px;
}

.uploadFileIcon {
	width: 88px;
	height: 88px;
	align-self: center;
}

.fileUploadButtonSection {
	position: relative;
	top: 92px;
	display: grid;
	grid-template-columns: [first] 20% [second] 80%;
	column-gap: 54px;
	height: 0;
}

.fileUploadButtonSection p{
	font-size: 22px;
}

.fileUploadSection {
	display: flex;
	flex-direction: column;
	max-width: 1000px;
	margin: auto;
	justify-content: center;
	align-items: center;
}

.manualGuestListSection{
	max-width: 1200px;
	margin: auto;
}

.addGuestRowBottomControl{
	text-align: left;
}

.buttonControlGroup{
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 800px;
	margin: auto;
}

.addButton{
	flex: 1 1;
	padding: 30px;
	font-size: 20px;
}

#addIndividualButton{
	border-radius: 20px 0 0 20px;
}

#addCoupleOrGroupButton{
	border-radius: 0 20px 20px 0;
}

.buttonPopOut{
	max-width: 800px;
	background: rgb(219, 219, 219);
	margin: auto;
	padding: 50px;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: [first] 50% [second] 50%;
	gap: 20px;
}

.plusOneInputGroup{
	display: flex;
}

.plusOneInput{
	flex:1;
}

.addButtonGroup{
	grid-column: span 2;
}

.unknownNameCheckboxGroup{
	display: flex;
	align-items: center;

}

.groupInfo {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.downloadTemplate {
	color: var(--main);
	text-decoration: none;
	display: flex;
	flex-direction: row;
	justify-content: right;
	width: 780px;
	margin: 5px auto 20px auto;
}

.downloadTemplate * {
	align-self: center;
}
