

#guestListFileUpload {
	display: none;
}

#inputTestTag {
	font-size: 18px;
	/* color: red;
	background-color: green; */
	display: block;
	width: 100%;
	border: none;
	text-transform: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/* opacity: 0.1; */
	opacity: 0;
	margin: 0;
	padding: 0;
	/* z-index: 9; */
}

#dragDropContainer{
	/* max-width: 40%;
	max-height: 40%;
	background-color: red; */


	position: relative;
	margin: 0 0 15px;
	border: 2px dotted lightgray;
	padding: 35px 20px;
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: transparent;
	min-width: 400px;
	width: 800px;
	height: 200px;
}

.uploadFileIcon {
	width: 88px;
	height: 88px;
	align-self: center;
}

.fileUploadButtonSection {
	position: relative;
	top: 92px;
	display: grid;
	grid-template-columns: [first] 20% [second] 80%;
	column-gap: 54px;
	height: 0;
}

.fileUploadButtonSection p{
	font-size: 22px;
}

.fileUploadSection {
	display: flex;
	flex-direction: column;
	max-width: 1000px;
	margin: auto;
	justify-content: center;
	align-items: center;
}

.manualGuestListSection{
	max-width: 1200px;
	margin: auto;
}

.addGuestRowBottomControl{
	text-align: left;
}

.buttonControlGroup{
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 900px;
	margin: auto;
}

.addButton {
	flex: 1 1;
	padding: 15px;
	font-size: 20px;
}

#addIndividualButton{
	border-radius: 10px;
}

#addCoupleOrGroupButton{
	border-radius: 10px;
}

.buttonPopOut {
	max-width: 900px;
	background: white;
	margin: 12px auto;
	padding: 10px 18px 22px 18px;
	box-sizing: border-box;
	display: grid;
	border: 2px solid #cfcfcf;
	border-radius: 8px;
	row-gap: 3px;
   	column-gap: 12px;
}

.individualPopOut{
	grid-template-columns: [first] auto [second] auto [third] auto [fourth] 165px;
}

.groupPopOut{
	grid-template-columns: [first] 60% [second] auto;
	padding-top: 18px;
}

.sendSurveyInputSection{
	margin-top: auto;
	margin-bottom: auto;
}

.MuiFormControl-root{
	width: 100%;
}

.plusOneInputGroup{
	display: flex;
}

.plusOneInput{
	flex:1;
}

.compactNumberComponent {
    display: flex;
    flex-direction: row;
}

.numberComponentAction {
    display: flex;
    flex-direction: row;
    background: #f1f1f1;
    height: 40px;
    border-radius: 6px;
    border: 2px solid #d9d9d9;
    position: relative;
}

.compactNumberComponent .MuiFormControl-root {
    width: 60px;
    margin-top: 0px !important;
    position: absolute;
    left: 50%;
    margin-left: -30px !important;
    z-index: 3;
}

.compactNumberComponent .MuiFormControl-root .MuiInputBase-root{
	background: white;
}

.plusButton{
	padding-left: 34px;
}

.minusButton{
	padding-right: 34px;
}

.compactNumberComponent .numberComponentActionButton {
	width: 74px;
    height: 40px;
    box-shadow: unset !important;
}


.addButtonGroup {
	grid-column: span 4;
	text-align: right;
}
.addButtonGroup button {
    width: 130px;
}

.unknownNameCheckboxGroup{
	display: flex;
	align-items: center;

}

.groupInfo {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 89px 80px;
	grid-gap: 20px;
	gap: 20px;
	padding-right: 10px;
}

.groupMembers{
	position: relative;
    padding-left: 40px;
}

.groupMembers:before {
    content: " ";
    border-left: 1px solid blue;
    height: 100%;
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    left: 20px;
}

.downloadTemplate {
	color: var(--main);
	text-decoration: none;
	display: flex;
	flex-direction: row;
	justify-content: right;
	width: 780px;
	margin: 5px auto 20px auto;
}

.downloadTemplate * {
	align-self: center;
}
