.resultTable{
	display: grid;
	/* grid-template-columns: [first] auto [second] auto [third] auto [fourth] 124px [fifth] 70px [sixth] 70px; */
    grid-template-columns: [first] 20px [second] auto [third] auto [fourth] 124px [fifth] 70px;
	text-align: left;
	/* column-gap: 10px;
	row-gap: 10px; */
}

.firstCol{
	grid-column: 1/ span 2;
}

.subgroupMember{
	grid-column: 2;
}