.gradientCover {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    background-image :linear-gradient(to right, 
                        var(--main),
                        var(--main) 35%,
                        rgba(255,255,255, 0) 75%);
    z-index: 1;
    position: absolute;
    width: 80%;
    height: 500px;
}

#mainImage {
    z-index:0;
    width: 100%;
    object-fit: cover;
    height: 500px;
}

.homeTitle {
    color: white;
    letter-spacing: 2px;
    font-size: 32px;
    margin: 0px;
}

.introSection {
    margin: auto auto auto 70px;
    text-align: left;
}

.howItWorksInstructions {
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 34px;
    box-sizing: border-box;
    padding: 0 40px;
}

.stepCard {
    box-shadow: 4px 4px 8px rgb(0 0 0 / 8%);
    border-radius: 7px;
    padding: 20px;
    text-align: left;
    position: relative;
    background: white;
    height: 100%;
    box-sizing: border-box;
}

.instructionStep {
    position: relative;
    flex: 1;
}

.stepNumber {
    font-size: 90px;
    font-weight: bold;
    color: var(--main);
    position: absolute;
    left: -28px;
    font-family: Arvo, sans-serif;
    font-weight: bold;
}