.card-section {
    background-color: lightgrey;
    display: grid;
    text-align: left;
    grid-template-columns: [number] 20% [info] 60% [graphic] 20%;
    grid-template-rows: [title] 30% [body] 40% [graphic-row] 30%;
    width: 30%;
    margin: 10px 40px 20px 40px;
}

.card-section h1 {
    grid-column: number;
    text-align: center;
    grid-row: title;
    font-size: 42px;
    margin: 0;
}

.card-section h2 {
    grid-column: info / body;
    grid-row: title;
    margin-top: 10px;
    font-size: 24px;
}

.card-section p {
    grid-column: info / body;
    grid-row: body;
    font-size: 16px;
    margin: 0px 50px 0px 0px;
}

.card-section .graphic {
    grid-column: graphic;
    grid-row: graphic-row;
    width: 50px;
    height: 50px;
    margin: 0;
}
