.vertical-form {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
  }
  
  .vertical-form label {
    display: flex;
    flex-direction: column;
    width: 15%;
    min-width: 180px;
    margin: auto auto 10px auto;
  }

  .vertical-form input {
      border: 1px solid black;
  }

  .formError {
    color: red;
    font-size: 10px;
    display: none;
  }

  .passEye {
    align-self: center;
    margin: 0;
    padding: 0;
  }

  .yesEye {
    display: none;
  }

  .passwordHolder {
    display: flex;
    justify-content: space-between;
  }

  .passwordHolder input {
    margin: 0;
    width: 85%;
  }

  .pageError {
    color: red;
    display: none;
    margin-top: 0;
  }